<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
	{% block media %}{% endblock %}
</head>

<body>
<header>
	<h1><a href="#">Deeds<span>ly</span></a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Opportunities</a></li>
			<li><a href="#layout">Notifications</a></li>
		</ul>
	</nav>
</header>

<div id="content">
	{% block content %}{% endblock %}
</div>

<footer>
</footer>
</body>
