{% extends "Base.html" %}

{% block content %}
<div class="row">

<div class="span8">
<h1>{{grower.name}}</h1>
<p>{{grower.description}}</p>

<h2>Skills</h2>

<ul class="tag">
	{% for skill in grower.skills.all %}
	<li>{{ skill.text }}</li>
	{% endfor %}
</ul>

<h2>Interests</h2>

<ul class="tag">
	<li>Environment</li>
	<li>Kids</li>
	<li>Animals</li>
</ul>

</div>
<div class="span4">
	<img src="{{ STATIC_URL }}img/sample-img.png" class="ib">
</div>
</div>

<div class="row">
	<div class="span8">
		<h2>I've volunteered for</h2>
		<ul>
			<li><img src="{{ STATIC_URL }}img/sample-img.png" class="ib"></li>
			<li><img src="{{ STATIC_URL }}img/sample-img.png" class="ib"></li>
		</ul>
	</div>
	<div class="span4">
		<h2>Rating</h2>
		<img src="{{ STATIC_URL }}img/star-on.png" class="ib">
        <img src="{{ STATIC_URL }}img/star-on.png" class="ib">
        <img src="{{ STATIC_URL }}img/star-on.png" class="ib">
        <img src="{{ STATIC_URL }}img/star-half.png" class="ib">
        <img src="{{ STATIC_URL }}img/star-off.png" class="ib">
	</div>
</div>
{% endblock %}
