<!DOCTYPE html>
<html>
<head>

<title>Deedsly</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
<link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>

</head>

<body>

<header>
	<h1><a href="#">Deeds<span>ly</span></a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Sign in</a></li>
		</ul>
	</nav>
</header>

<div id="content">
	<section id="tagline">
	<div class="row">
		<div class="span11 offset1">
		<h1 class="callout span8">
		Create and nurture your community through meaningful volunteering.
		</h1>
		<div class="span3 offset1">
			<a href="#" class="btn btn-accent span12">Volunteer</a>
			<br /><br />
			<a href="#" class="btn span12">Find a Volunteer</a>
		</div>

		</div>
	</div>
	</section>
	<section id="matching" class="accent">
		<h1 class="callout-h1"><span>Custom matching to pair</span></h1>
		<h1 class="callout-h1"><span>skilled volunteers with a need</span></h1>
	</section>
	<section id="local" class="blank">
		<h1 class="callout-h1 right"><span>Localized opportunities to</span></h1>
		<h1 class="callout-h1 right"><span>build and grow your community</span></h1>
	</section>
	<section id="features" class="primary">
	</section>
</div>

<footer>
</footer>

</body>
</html>
