<!DOCTYPE html>
<html>
<head>

<title>Deedsly/title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

</head>

<body>

<header>
	<h1><a href="#">Deeds<span>ly</span></a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Base</a></li>
			<li><a href="#layout">Layout</a></li>
			<li><a href="#module">Module</a></li>
			<li><a href="#state">State</a></li>
			<li><a href="#theme">Theme</a></li>
		</ul>
	</nav>
</header>

<div id="content">
	<section id="tagline">
	<div class="row">
		<div class="span11 offset1">
		<h1 class="callout span8">
		Create and nurture your community through meaningful volunteering.
		</h1>
		<div class="span3 offset1">
			<a href="#" class="btn btn-accent span12">Volunteer</a>
			<br /><br />
			<a href="#" class="btn span12">Find a Volunteer</a>
		</div>

		</div>
	</div>
	</section>
	<section id="matching" class="accent">
		<h1>Custom matching to pair</h1>
		<h1>skilled volunteers with a need</h1>
	</section>
	<section id="local" class="blank">
		<h1>Localized opportunities to</h1>
		<h1>build and grow your community</h1>
	</section>
	<section id="features" class="primary">
	</section>
</div>

<footer>
</footer>

</body>
</html>
