{% extends "Base.html" %}

{% block content %}
<div class="row">
	<nav class="span3 nav-stacked">
		<ul>
			<li><a href="">Notifications</a></li>
			<li><a href="">Volunteer History</a></li>
			<li><a href="">Interests and Skills</a></li>
			<li><a href="">User Settings</a></li>
		</ul>
	</nav>

	<div class="span9">
		<ul>
			<li class="notification-block">
				<div class="row">
					<div class="span7">
						<h2>Sturdy Wings needs <b>Child Care</b> for <b>Mentoring</b></h2>
						<p>Being a mentor for a child is one of the most rewarding experience possible.</p>
					</div>
					<div class="span1">
						<a href="/task/1">Go to listing</a>
					</div>
				</div>	
			</li>
			<li class="notification-block">
				<div class="row">
					<div class="span7">
						<h2><b>Red Cross</b> needs <b>Phlebotomy</b> for a <b>Blood Drive</b></h2>
						<p>You will be taking blood from doners in this blood drive for children with leukemia.</p>
					</div>
					<div class="span1">
						<a href="#">Go to listing</a>
					</div>
				</div>	
			</li>
			<li class="notification-block">
			
			</li>
			<li class="notification-block">
			
			</li>
			<li class="notification-block">
			
			</li>
		</ul>
	</div>
</div>
{% endblock %}
