{% extends "Base.html" %}

{% block content %}
<div class="row">
<div class="span8">

	<h1>{{sower.title}}</h1>
	<p>{{sower.description}}</p>

	<div class="control">
        <label for="input01">Location</label>
        <div class="controls">
          {{sower.address}}
        </div>
    </div>
    <div class="control">
        <label for="input01">Phone</label>
        <div class="controls">
          {{sower.phone}}
        </div>
    </div>
    <div class="control">
        <label for="input01">Email</label>
        <div class="controls">
          {{sower.website}}
        </div>
    </div>
    <div class="control">
        <label for="input01">Website</label>
        <div class="controls">
          {{sower.website}}
        </div>
    </div>
    <div class="control">
        <label for="input01">Twitter</label>
        <div class="controls">
          {{sower.twitter}}
        </div>
    </div>
    <div class="control">
        <label for="input01">Facebook</label>
        <div class="controls">
          {{sower.facebook}}
        </div>
    </div>

</div>

<div class="span4">
map
</div>
</div>

<div class="row">
	<div class="span8">
		<h2>Opportunities</h2>
	</div>
	<div class="span4">
		<h2>Reviews</h2>
	</div>
</div>

{% endblock %}
