<html>
<head>
<link rel="stylesheet" type="text/css" src="{{ STATIC_URL }}rating.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.raty.js"></script>
{% load comments %}
</head>
<h1> {{sower.title}} </h1>
<p> {{sower.description}} </p>
<h2> Rating </h2>
{{sower.rating.get_rating}}
<h2> Add a Rating </h2>
<div id="star"></div>
	{{sower.rating.add}}
<h2> Comments </h2>
{% render_comment_list for sower %}
{% render_comment_form for sower %}

<script type="text/javascript">
	$(document).ready(function() {
		$('#star').raty();
	});
</script>
</html>