{% extends "Base.html" %}

{% block content %}
<div class="row">
<div class="span7">

	<h1>{{sower.title}}</h1>
	<p>{{sower.description}}</p>

<table width="400">
	<tr>
		<td>Location</td><td>{{sower.address}}</td>	
	</tr>
	<tr>
		<td>Phone</td><td>{{sower.phone}}</td>	
	</tr>
	<tr>
		<td>Email</td><td>{{sower.website}}</td>	
	</tr>
	<tr>
		<td>Website</td><td>{{sower.website}}</td>
	</tr>
	<tr>
		<td>Twitter</td><td>{{sower.twitter}}</td>
	</tr>
	<tr>
		<td>Facebook</td><td>{{sower.facebook}}</td>
	</tr>
</table>

</div>

<div class="span3">
map
</div>
</div>

{% endblock %}
