<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>

<body>
<header>
	<h1><a href="#">Styles</a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Base</a></li>
			<li><a href="#layout">Layout</a></li>
			<li><a href="#module">Module</a></li>
			<li><a href="#state">State</a></li>
			<li><a href="#theme">Theme</a></li>
		</ul>
	</nav>
</header>

	<div class="span9">
		<h2>{{task.title}}</h2>
		<h3>{{task.grower}}</h3>
		<p>{{task.description}}</p>
		<p><span>{{task.address}}</span><p>
		<p><span>{{task.time}}</span><p>
	</div>

<footer></footer>
</body>
