<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	
</head>

<body>
<header>
	<h1><a href="#">Styles</a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Base</a></li>
			<li><a href="#layout">Layout</a></li>
			<li><a href="#module">Module</a></li>
			<li><a href="#state">State</a></li>
			<li><a href="#theme">Theme</a></li>
		</ul>
	</nav>
</header>
	<div class="row">
		<div class="span8">
			<h2>{{task.title}}</h2>
			<h3>{{task.grower}}</h3>
			<p>{{task.description}}</p>
			<form>
				<div class="control">
					<label>Address</label>
					<div class="control-group">
						{{task.address}}
					</div>
				</div>
				<div class="control">
					<label>Date</label>
					<div class="control-group">
						{{task.time}}
					</div>
				</div>
			</form>
			<a href="#" class="btn">I'm Attending</a>
			<a href="#" class="btn-accent btn">I'll donate</a>
		</div>
		<div class="span4">
			<div id="black-image">
			</div>
			</div>
		</div>
	</div>
		<hr >
		<div class="row">
			<div class="span8">
					<h3>Who's Coming:</h3>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>		
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
					<div class="small-box">

					</div>
			</div>
		</div>
		
	</div>
<footer></footer>
</body>
