<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
</head>

<body>
<header>
	<h1><a href="#">Styles</a></h1>

	<!-- skip nav -->
	<a href="#content" class="skip">Skip to Content</a>

	<nav>
		<ul>
			<li><a href="#base">Base</a></li>
			<li><a href="#layout">Layout</a></li>
			<li><a href="#module">Module</a></li>
			<li><a href="#state">State</a></li>
			<li><a href="#theme">Theme</a></li>
		</ul>
	</nav>
</header>

	<div class="span9">
		<h2>{{task.title}}</h2>
		<h3>{{task.grower}}</h3>
		<p>{{task.description}}</p>
		<div id="details" class="span9">
			<p><b>Address:       </b>{{task.address}}<p>
			<p><b>Date:          </b>{{task.time}}</p>
		</div>
	</div>
	<div class="span3">
		<div id="black-image">
		</div>
		<div id="attend-box">
			<button class="btn-large">I'm Attending</button>
			<button class="btn-accent btn-large">I'll donate</button>
			<div id="other-people">
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>
				<div class="small-box">

				</div>				
			</div>	

		</div>
	</div>
<footer></footer>
</body>
