/*
/*  Service Watch
/*
/*  Startup Weekend CSS
/*  ---------------------- */
/* Variables
-------------------------- */
.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* Base Rules 
-------------------------- */
/* 1. Reset */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */

  white-space: pre-wrap;
  /* CSS 2.1 */

  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */

  word-wrap: break-word;
  /* IE */

}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 88%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub,
sup {
  font-size: 78%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}
/* General Styles */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 1em;
  line-height: 1.5em;
}
a {
  color: #2d8f6a;
  text-decoration: none;
  border-bottom: 1px dotted #2d8f6a;
}
a:hover {
  color: #00b07d;
  border: none;
  background: #e3fff7;
}
::-moz-selection,
::selection {
  color: #ffffff;
  background: #00b07d;
}
.skip {
  font: 0/0 a;
  color: transparent;
  display: block;
  border-bottom: none;
}
h1 a {
  border-bottom: none;
}
/* 2. Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
}
h2 {
  font-size: 1.75em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.5em;
}
h4 {
  font-size: 1.25em;
  line-height: 1.5em;
}
h5 {
  font-size: 1.125em;
  line-height: 1.5em;
}
h6 {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
}
p {
  font-size: 1em;
  line-height: 1.5em;
}
/* 3. Grid */
@media (min-width: 480px) {
  .row {
    width: 100%;
    *zoom: 1;
  }
  .row [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.762430939%;
    *margin-left: 2.709239449638298%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .row [class*="span"]:first-child {
    margin-left: 0;
  }
  .row .span12 {
    width: 99.999999993%;
    *width: 99.9468085036383%;
  }
  .row .span11 {
    width: 91.436464082%;
    *width: 91.38327259263829%;
  }
  .row .span10 {
    width: 82.87292817100001%;
    *width: 82.8197366816383%;
  }
  .row .span9 {
    width: 74.30939226%;
    *width: 74.25620077063829%;
  }
  .row .span8 {
    width: 65.74585634900001%;
    *width: 65.6926648596383%;
  }
  .row .span7 {
    width: 57.182320438000008%;
    *width: 57.129128948638304%;
  }
  .row .span6 {
    width: 48.618784527%;
    *width: 48.5655930376383%;
  }
  .row .span5 {
    width: 40.055248616%;
    *width: 40.0020571266383%;
  }
  .row .span4 {
    width: 31.491712708%;
    *width: 31.4385212156383%;
  }
  .row .span3 {
    width: 22.928176794%;
    *width: 22.874985304638297%;
  }
  .row .span2 {
    width: 14.364640883%;
    *width: 14.311449393638298%;
  }
  .row .span1 {
    width: 5.801104972%;
    *width: 5.747913482638298%;
  }
  .row .offset11 {
    margin-left: 91.436464082%;
    *margin-left: 91.38327259263829%;
  }
  .row .offset10 {
    margin-left: 82.87292817100001%;
    *margin-left: 82.8197366816383%;
  }
  .row .offset9 {
    margin-left: 74.30939226%;
    *margin-left: 74.25620077063829%;
  }
  .row .offset8 {
    margin-left: 65.74585634900001%;
    *margin-left: 65.6926648596383%;
  }
  .row .offset7 {
    margin-left: 57.182320438000008%;
    *margin-left: 57.129128948638304%;
  }
  .row .offset6 {
    margin-left: 48.618784527%;
    *margin-left: 48.5655930376383%;
  }
  .row .offset5 {
    margin-left: 40.055248616%;
    *margin-left: 40.0020571266383%;
  }
  .row .offset4 {
    margin-left: 31.491712708%;
    *margin-left: 31.4385212156383%;
  }
  .row .offset3 {
    margin-left: 22.928176794%;
    *margin-left: 22.874985304638297%;
  }
  .row .offset2 {
    margin-left: 14.364640883%;
    *margin-left: 14.311449393638298%;
  }
  .row .offset2:first-child {
    margin-left: 14.364640883%;
    *margin-left: 14.311449393638298%;
  }
  .row .offset1 {
    margin-left: 5.801104972%;
    *margin-left: 5.747913482638298%;
  }
  .row .offset1:first-child {
    margin-left: 5.801104972%;
    *margin-left: 5.747913482638298%;
  }
  .row:before,
  .row:after {
    display: table;
    content: "";
  }
  .row:after {
    clear: both;
  }
}
/* Offset */
/* 4. Tables */
/* 5. Forms */
/* Layout Rules
-------------------------- */
header:before,
header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
body {
  margin: 1em 5em;
}
/* Module Rules
-------------------------- */
/* Nav */
header {
  margin: 3.25em 0;
}
header h1 {
  position: relative;
  padding: 0.25em 0 0 3.5em;
}
@media (min-width: 600px) {
  header h1 {
    float: left;
  }
}
header h1:before,
header h1:after {
  content: "";
  position: absolute;
  background: rgba(0, 176, 125, 0.5);
  border-radius: 100%;
}
header h1:before {
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
}
header h1:after {
  width: 1.5em;
  height: 1.5em;
  top: 0;
  left: 1.5em;
}
header h1 a {
  color: #333;
  font-size: 1.875em;
  font-weight: 700;
}
header h1 a span {
  font-weight: 400;
}
header > nav {
  margin-top: 2em;
}
@media (min-width: 600px) {
  header > nav {
    float: right;
    margin-top: 0.75em;
    width: 50%;
  }
}
header > nav li {
  display: inline-block;
  margin-left: 10%;
}
header > nav li:first-child {
  margin-left: 0;
}
header > nav li a {
  color: #333;
  font-size: 0.8em;
  border-bottom: none;
  text-transform: uppercase;
}
.nav-stacked a {
  font-size: 1.25em;
  border-bottom: none;
  text-align: right;
  margin-bottom: 0.5em;
  display: block;
}
.nav-horizontal {
  background: #caffef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em;
}
.nav-horizontal li {
  display: inline-block;
}
/* Buttons */
.btn,
.btn.accent {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn {
  color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  padding: 0.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid #00a172;
  background: #00b07d;
  background: -moz-linear-gradient(top, #00d99a 0%, #00a172 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00d99a), color-stop(100%, #00a172));
  background: -webkit-linear-gradient(top, #00d99a 0%, #00a172 100%);
  background: -o-linear-gradient(top, #00d99a 0%, #00a172 100%);
  background: -ms-linear-gradient(top, #00d99a 0%, #00a172 100%);
  background: linear-gradient(top, #00d99a 0%, #00a172 100%);
}
.btn:hover {
  background: #00b07d;
  border: 1px solid #ddcc49;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #333333;
}
.btn-small {
  font-size: 0.875em;
  padding: 0.375em;
}
.btn-large {
  font-size: 1.5em;
}
.btn-accent {
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #edd93f;
  background: #eedc4d;
  background: -moz-linear-gradient(top, #f2e372 0%, #edd93f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2e372), color-stop(100%, #edd93f));
  background: -webkit-linear-gradient(top, #f2e372 0%, #edd93f 100%);
  background: -o-linear-gradient(top, #f2e372 0%, #edd93f 100%);
  background: -ms-linear-gradient(top, #f2e372 0%, #edd93f 100%);
  background: linear-gradient(top, #f2e372 0%, #edd93f 100%);
}
.btn-accent:hover {
  background: #eedc4d;
  border: 1px solid #ebd62c;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #333333;
}
.btn[class*="span"]:first-child {
  margin-left: 2.762430939%;
}
/* Block */
.block {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.5em;
}

.left {
  float: left;
}

.right {
  float: right;

.accent {
  background: #f2e57a;
}
.primary {
  background: #00b07d;
}
section.primary,
section.accent {
  margin: 0 -5em;
  padding: 2em 5em;
}
.callout {
  font-size: 1.75em;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 200;
}
#tagline {
  padding-bottom: 3em;
}
